/* header */

* {padding: 0; margin: 0;}


.navbar {
    background-color: #22bbee;
    border: 1px solid #22bbee;
    color: white;
}


.dropdown-toggle a{
    color: white;
}

.dropdown-menu li {
    color: white;
}

/* section */

.main {
    margin: 20px;
}